html {
  background-color: rgb(177, 177, 177);
}

.banner {
  font-size: 52px;
  text-align: center;
  font-family: Verdana, Times, sans-serif;
  color: teal;
}

.menu {
  list-style: none;
  text-align: center;
  padding-left: 0%;
}

.menu li {
  font-size: 24px;
}

h1 {
  font-size: 52px;
  text-align: center;
}

h1,
h2 {
  font-family: Verdana, Times, sans-serif;
  color: blueviolet;
}

#cppimg {
  height: 600px;
  width: 600px;
}

.imagediv {
  text-align: center;
}